[Unit]
Description=Timetracker Collector Daemon

[Service]
#Type=simple
ExecStart=/home/da/in-dev/time-tracker/collect.py
Restart=always

[Install]
WantedBy=default.target
