[[apps]]
name = "..."
enabled = true
slices = [ [13:00:00, 04:00:00] ] # you can write multiple time slice
black_list = false # time slices are black list or white list?
#command = "gnome-calculator" # the command that application is running from
command = "/snap/firefox/3416/usr/lib/firefox/firefox"
#command = "/usr/bin/nautilus"
args = "*" # the argument of command(supports *) and can be empty
